<table border="0" cellspacing="0">
<tbody>
<tr>
<td style="width: 15%;" rowspan="5">[onshow.logo]</td>
<td style="text-align: center; width: 70%;" colspan="6">
<h2><strong>INSTITUTO DE FOMENTO DE FERIAS</strong></h2>
</td>
<td style="text-align: center; width: 15%;" colspan="3">
<h3>RECIBO DE INGRESO</h3>
</td>
</tr>
<tr>
<td style="text-align: center;" colspan="6">
<h2><strong>Y EXPOSICIONES DE COLIMA</strong></h2>
</td>
<td style="text-align: center;" colspan="3">
<h2>[onshow.folio]</h2>
</td>
</tr>
<tr>
<td style="text-align: center;" colspan="6">RFC: IFF-920502-9A5</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;" colspan="6">AV. NI&Ntilde;OS HEROES DE CHAPULTEPEC S/N COL. LA ESTANCIA COLIMA, COL. C.P. 28040</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;" colspan="4">TEL: (312) 313-15-89 FAX: 312-69-68</td>
<td style="text-align: center;" colspan="2">EXPEDIDO EN COLIMA, COL.</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;" colspan="3">&nbsp;<strong>F E C H A</strong></td>
</tr>
<tr>
<td style="text-align: left;">NOMBRE:</td>
<td style="text-align: left;" colspan="6">[onshow.cliente]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: center;">DIA</td>
<td style="text-align: center;">MES</td>
<td style="text-align: center;">A&Ntilde;O</td>
</tr>
<tr>
<td style="text-align: left;">DIRECCI&Oacute;N:</td>
<td style="text-align: left;" colspan="6">[onshow.calle] [onshow.numero_exterior] [onshow.numero_interior], [onshow.colonia]</td>
<td style="text-align: left;">[onshow.dia]</td>
<td>[onshow.mes]&nbsp;</td>
<td>[onshow.ano]&nbsp;</td>
</tr>
<tr>
<td style="text-align: left;">CIUDAD:</td>
<td style="text-align: left;" colspan="6">[onshow.ciudad], [onshow.estado]</td>
<td style="text-align: left;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;" colspan="10"><strong>CONCEPTO DEL INGRESO</strong></td>
</tr>
<tr style="height: 20em;">
<td style="text-align: left;" colspan="7">[onshow.concepto]</td>
<td style="text-align: right;" colspan="3">[onshow.importe]</td>
</tr>
<tr>
<td style="text-align: left;" colspan="6">CANTIDAD CON LETRA</td>
<td style="text-align: left;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr style="height: 4em;">
<td style="text-align: center;" colspan="6">&nbsp;</td>
<td style="text-align: right;"><strong>TOTAL</strong></td>
<td style="text-align: right;" colspan="3">[onshow.total]</td>
</tr>
<tr>
<td style="text-align: center;" colspan="7">PAGO EN UNA SOLA EXHIBICI&Oacute;N / EFECTOS FISCALES AL PAGO</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>